<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homemylove.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.homemylove.entities.Dept">
    <id column="dept_id" jdbcType="BIGINT" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="dept_no" jdbcType="VARCHAR" property="deptNo" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="edit_user" jdbcType="BIGINT" property="editUser" />
    <result column="add_user" jdbcType="BIGINT" property="addUser" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_dept
    where dept_id = #{deptId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="dept_id" keyProperty="deptId" parameterType="com.homemylove.entities.Dept" useGeneratedKeys="true">
    insert into sys_dept (dept_name, dept_no, parent_id, 
      edit_user, add_user, edit_time, 
      add_time)
    values (#{deptName,jdbcType=VARCHAR}, #{deptNo,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, 
      #{editUser,jdbcType=BIGINT}, #{addUser,jdbcType=BIGINT}, #{editTime,jdbcType=TIMESTAMP}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.homemylove.entities.Dept">
    update sys_dept
    set dept_name = #{deptName,jdbcType=VARCHAR},
      dept_no = #{deptNo,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      edit_user = #{editUser,jdbcType=BIGINT},
      add_user = #{addUser,jdbcType=BIGINT},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where dept_id = #{deptId,jdbcType=BIGINT}
  </update>
  <update id="updateDept">
    update sys_dept
    set dept_name = #{deptName,jdbcType=VARCHAR},
        dept_no = #{deptNo,jdbcType=VARCHAR},
        edit_user = #{editUser,jdbcType=BIGINT},
        edit_time = #{editTime,jdbcType=TIMESTAMP}
    where dept_id = #{deptId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select dept_id, dept_name, dept_no, parent_id, edit_user, add_user, edit_time, add_time
    from sys_dept
    where dept_id = #{deptId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select dept_id, dept_name, dept_no, parent_id, edit_user, add_user, edit_time, add_time
    from sys_dept
  </select>
    <select id="getDeptListByParams" resultType="com.homemylove.entities.Dept">
      select dept_id,dept_name,dept_no,edit_time,edit_user from sys_dept
      <where>
        <if test="deptName != null">
          dept_name like concat("%",#{deptName},"%")
        </if>
        <if test="deptNo != null">
          and dept_no like concat("%",#{deptNo},"%")
        </if>
      </where>
    </select>
  <select id="hasDept" resultType="java.lang.Integer">
    select count(*) from sys_dept
    <where>
      <if test="deptName != null">
        dept_name = #{deptName}
      </if>
      <if test="deptNo != null">
        or dept_no = #{deptNo}
      </if>
    </where>
  </select>
</mapper>